$default-font: 'Martel Sans', Avenir, Helvetica, Arial, sans-serif;
$default-margin: 0.5rem;

// Colors
$color-default: #2c3e50;
$color-positive: green;
$color-negative: red;
$color-mixed: #147be4;
$color-shadow: #acacac;

// Layout
// TODO: Restructure CSS to be mobile first
$small-screen: 600px;
