@import 'node_modules/vue-select/src/scss/vue-select.scss';
@import 'constants';

html {
  font-family: $default-font;
  color: $default-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

h1.mobile-only {
  display: none;
}

@media only screen and (max-width: $small-screen) {
  h1.mobile-only {
    display: block;
    text-align: center;
  }
}

.pure-g [class*='pure-u'] {
  font-family: $default-font;
}

.content {
  padding: 3rem;

  @media only screen and (max-width: $small-screen) {
    padding: 1rem;
  }
}
