@import 'node_modules/vue-select/src/scss/vue-select.scss';

html {
  font-family: 'Martel Sans', Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}
