@import 'node_modules/vue-select/src/scss/vue-select.scss';

$default-font: 'Martel Sans', Avenir, Helvetica, Arial, sans-serif;

html {
  font-family: $default-font;
  color: #2c3e50;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

.pure-g [class*='pure-u'] {
  font-family: $default-font;
}

.flex-centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}